# Heroes_of_Pymoli

In [26]:
import pandas as pd

In [27]:
file = "Resources/purchase_data.csv"

In [28]:
purchase_data = pd.read_csv(file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [29]:
#Number of Unique Items
nunique = purchase_data["Item Name"].nunique()
#Average Purchase Price
average = purchase_data["Price"].mean()
#Total Number of Purchases
purchases = purchase_data["Purchase ID"].count()
#Total Revenue
total = purchase_data["Price"].sum()

In [30]:
summary_dict = {"Number of Unique Items" : [nunique],
               "Average Price" : [average],
               "Total Number of Purchases" : [purchases],
               "Total Revenue" : [total]}
summary_df = pd.DataFrame(summary_dict)
summary_df["Average Price"] = summary_df["Average Price"].map("${0:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${0:.2f}".format)
summary_df.head()

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [31]:
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed
player_count = len(purchase_data["SN"].unique())

# Count & Percentage of Male Players
male_players = purchase_data.loc[purchase_data["Gender"] == "Male"]
male_count = len(male_players["SN"].unique())
male_percent = "{:.2f}%".format(male_count / player_count * 100)

# Count & Percentage of Female Players
female_players = purchase_data.loc[purchase_data["Gender"] == "Female"]
female_count = len(female_players["SN"].unique())
female_percent = "{:.2f}%".format(female_count / player_count * 100)

# Count & Percentage of Other / Non-Disclosed
other_players = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
other_count = len(other_players["SN"].unique())
other_percent = "{:.2f}%".format(other_count / player_count * 100)

# Create Summary DataFrame
gender_demographics_table = pd.DataFrame([{
    "Gender": "Male", "Total Count": male_count, 
    "Percentage of Players": male_percent}, 
    {"Gender": "Female", "Total Count": female_count, 
     "Percentage of Players": female_percent}, 
    {"Gender": "Other / Non-Disclosed", "Total Count": other_count, 
     "Percentage of Players": other_percent
    }], columns=["Gender", "Total Count", "Percentage of Players"])

gender_demographics_table = gender_demographics_table.set_index("Gender")
gender_demographics_table.index.name = "Gender"
gender_demographics_table

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [25]:
# Purchase Count of Male Players
male_purchase_data = purchase_data.loc[purchase_data["Gender"] == "Male", :]
male_purchase_count = len(male_purchase_data)

# Average Purchase Price of Male Players
avg_male_purchase_price = purchase_data.loc[purchase_data["Gender"] == "Male", ["Price"]].mean()

# Total Purchase Value of Male Players
total_male_purchase_value = purchase_data.loc[purchase_data["Gender"] == "Male", ["Price"]].sum()

# Purchase Count of Female Players
female_purchase_data = purchase_data.loc[purchase_data["Gender"] == "Female", :]
female_purchase_count = len(female_purchase_data)

# Average Purchase Price of Female Players
avg_female_purchase_price = purchase_data.loc[purchase_data["Gender"] == "Female", ["Price"]].mean()

# Total Purchase Value of Female Players
total_female_purchase_value = purchase_data.loc[purchase_data["Gender"] == "Female", ["Price"]].sum()

# Purchase Count of Other / Non-Disclosed Players
other_purchase_data = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
other_purchase_count = len(other_purchase_data)

# Average Purchase Price of Other / Non-Disclosed Players
avg_other_purchase_price = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", ["Price"]].mean()

# Total Purchase Value of Other / Non-Disclosed Players
total_other_purchase_value = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", ["Price"]].sum()

# Average Purchase Total per Person by Gender
avg_male_purchase_total_person = total_male_purchase_value / male_count
avg_female_purchase_total_person = total_female_purchase_value / female_count
avg_other_purchase_total_person = total_other_purchase_value / other_count

# Create Summary DataFrame
gender_purchasing_analysis_table = pd.DataFrame([{
    "Gender": "Female", "Purchase Count": female_purchase_count, 
    "Average Purchase Price": "${:.2f}".format(avg_female_purchase_price[0]), 
    "Total Purchase Value": "${:.2f}".format(total_female_purchase_value[0]), 
    "Avg Total Purchase per Person": "${:.2f}".format(avg_female_purchase_total_person[0])}, 
    {"Gender": "Male", "Purchase Count": male_purchase_count, 
     "Average Purchase Price": "${:.2f}".format(avg_male_purchase_price[0]), 
     "Total Purchase Value": "${:,.2f}".format(total_male_purchase_value[0]), 
     "Avg Total Purchase per Person": "${:.2f}".format(avg_male_purchase_total_person[0])}, 
    {"Gender": "Other / Non-Disclosed", "Purchase Count": other_purchase_count, 
     "Average Purchase Price": "${:.2f}".format(avg_other_purchase_price[0]), 
     "Total Purchase Value": "${:.2f}".format(total_other_purchase_value[0]), 
     "Avg Total Purchase per Person": "${:.2f}".format(avg_other_purchase_total_person[0])
    }], columns=["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"])

gender_purchasing_analysis_table = gender_purchasing_analysis_table.set_index("Gender")
gender_purchasing_analysis_table.index.name = "Gender"
gender_purchasing_analysis_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [15]:
# Establish Bins for Ages & Create Corresponding Names For Bins
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]
groups_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Place Data Series Into New Column Inside DataFrame
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins=age_bins, labels=groups_names)
purchase_data

# Create a GroupBy Object Based Upon "Age Group"
age_group = purchase_data.groupby("Age Group")

# Count Total Players by Age Category
total_count_age = age_group["SN"].nunique()

# Calculate Percentages by Age Category 
percentage_by_age = round(total_count_age / player_count * 100,2)

# Create Summary DataFrame
age_demographics_table = pd.DataFrame({
    "Total Count": total_count_age, 
    "Percentage of Players": percentage_by_age
})

age_demographics_table["Percentage of Players"] = age_demographics_table["Percentage of Players"].map("{0:,.2f}%".format)
age_demographics_table.index.name = "Age_Group"
age_demographics_table

       Total Count Percentage of Players
G
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [4]:
#Establish Bins for Ages & Create Corresponding Names For The Bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]
groups_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Place Data Series Into New Column Inside DataFrame
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins=age_bins, labels=groups_names)

# Calculate "Purchase Count"
age_purchase_count = age_group["SN"].count()

# Calculate "Average Purchase Price"
avg_age_purchase_price = round(age_group["Price"].mean(),2)

# Calculate "Total Purchase Value"
total_age_purchase_value = round(age_group["Price"].sum(),2)

# Calculate "Avg Total Purchase per Person"
avg_total_age_purchase_person = round(total_age_purchase_value / total_count_age,2)

# Create Summary DataFrame
age_purchasing_analysis_table = pd.DataFrame({
    "Purchase Count": age_purchase_count, 
    "Average Purchase Price": avg_age_purchase_price,
    "Total Purchase Value": total_age_purchase_value,
    "Avg Total Purchase per Person": avg_total_age_purchase_person
})

age_purchasing_analysis_table["Average Purchase Price"] = age_purchasing_analysis_table["Average Purchase Price"].map("${0:,.2f}".format)
age_purchasing_analysis_table["Total Purchase Value"] = age_purchasing_analysis_table["Total Purchase Value"].map("${0:,.2f}".format)
age_purchasing_analysis_table["Avg Total Purchase per Person"] = age_purchasing_analysis_table["Avg Total Purchase per Person"].map("${0:,.2f}".format)
age_purchasing_analysis_table

NameError: name 'pd' is not defined

In [5]:
# Identify the Top 5 Spenders in the Game by Total Purchase Value & GroupBy "SN"
top_spenders = purchase_data.groupby("SN")

# Calculate "Purchase Count"
spender_purchase_count = top_spenders["Purchase ID"].count()

# Calculate "Average Purchase Price"
average_spender_purchase_price = round(top_spenders["Price"].mean(),2)

# Calculate "Total Purchase Value"
total_spender_purchase_value = top_spenders["Price"].sum()

# Create Summary DataFrame
top_spenders_table = pd.DataFrame({ 
    "Purchase Count": spender_purchase_count,
    "Average Purchase Price": average_spender_purchase_price,
    "Total Purchase Value": total_spender_purchase_value
})

sort_top_spenders = top_spenders_table.sort_values(["Total Purchase Value"], ascending=False).head()
sort_top_spenders["Average Purchase Price"] = sort_top_spenders["Average Purchase Price"].astype(float).map("${:,.2f}".format)
sort_top_spenders["Total Purchase Value"] = sort_top_spenders["Total Purchase Value"].astype(float).map("${:,.2f}".format)
sort_top_spenders

NameError: name 'purchase_data' is not defined

In [6]:
# Identify the 5 Most Popular Items by Creating New DataFrame
popular_items_list = purchase_data[["Item ID", "Item Name", "Price"]]

# GroupBy "Item ID" & "Item Name"
popular_items = popular_items_list.groupby(["Item ID","Item Name"])

# Calculate "Purchase Count"
item_purchase_count = popular_items["Price"].count()

# Calculate "Item Price"
item_price = popular_items["Price"].sum()

# Calculate "Total Purchase Value" 
item_purchase_value = item_price / item_purchase_count

# Create Summary DataFrame
most_popular_items = pd.DataFrame({
    "Purchase Count": item_purchase_count, 
    "Item Price": item_purchase_value,
    "Total Purchase Value": item_price
})

popular_items_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
popular_items_formatted["Item Price"] = popular_items_formatted["Item Price"].astype(float).map("${:,.2f}".format)
popular_items_formatted["Total Purchase Value"] = popular_items_formatted["Total Purchase Value"].astype(float).map("${:,.2f}".format)
popular_items_formatted

NameError: name 'purchase_data' is not defined

In [7]:
popular_items_formatted = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()
popular_items_formatted["Item Price"] = popular_items_formatted["Item Price"].astype(float).map("${:,.2f}".format)
popular_items_formatted["Total Purchase Value"] = popular_items_formatted["Total Purchase Value"].astype(float).map("${:,.2f}".format)
popular_items_formatted

NameError: name 'most_popular_items' is not defined